body {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

a.theme-link {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}

a.theme-link:hover {
    color: blue;
}

.qa-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.answer {
    margin-top: 5px;
}